<div ng-controller="SensitiveWordManagementController">
    <div class="row my-row" ng-controller="SensitiveWordSearchController">
        <div class="col-md-8" style="padding-left: 0px; padding-right: 0px">
            <div class="input-group my-search-box">
                <input type="text" class="form-control pull-right" placeholder="请输入搜索关键字"
                       aria-describedby="basic-addon1" ng-model="searchContent">
            </div>
        </div>
        <div class="col-md-4" style="padding-left: 0px">
            <button type="button" class="btn btn-success navbar-btn button-create my-search-button"
                    ng-click="doSearch()">搜索
            </button>
        </div>
    </div>
    <div class="row my-row" ng-controller="CreateSensitiveWordController">
        <div class="col-md-8" style="padding-left: 0px; padding-right: 0px"></div>
        <div class="col-md-4" style="padding-left: 0px">
            <button type="button" class="btn btn-success navbar-btn button-create my-search-button"
                    ng-click="doCreate()">添加敏感字
            </button>
        </div>
    </div>
    <div class="row my-row" ng-controller="SensitiveWordListController">
        <table class="table table-bordered little-table">
            <caption>敏感字列表</caption>
            <thead>
            <tr>
                <th>敏感字</th>
                <th class="col-for-button3">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sensitiveWord in SensitiveWordList">
                <th>{{sensitiveWord.word}}</th>
                <th>
                    <button type="button" class="btn btn-danger" ng-click="doDelete(sensitiveWord.id)"><span
                            class="glyphicon glyphicon-trash"></span>
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row my-row" ng-controller="SensitiveWordPaginationController">
        <ul class="pagination pagination-lg my-pagination">
            <li ng-class="{paginationdisabled: isFirstPage}" ng-model="previousPageNumber"><a href=""
                                                                                              ng-class="{paginationdisabled: isFirstPage}"
                                                                                              ng-click="doJumpPage(previousPageNumber)">&laquo;</a>
            </li>
            <li ng-class="{active: page.isCurrentPage}" ng-repeat="page in pages"
                ng-click="doJumpPage(page.pageNumber)"><a href="">{{page.pageNumber}}</a></li>
            <li ng-class="{paginationdisabled: isLastPage}" ng-model="NextPageNumber"><a href=""
                                                                                         ng-class="{paginationdisabled: isLastPage}"
                                                                                         ng-click="doJumpPage(NextPageNumber)">&raquo;</a>
            </li>
        </ul>
        <br>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createSensitiveWordModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"
         ng-controller="CreateSensitiveWordModalController">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">创建敏感字</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" action="#" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">敏感字</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control form-input" ng-model="sensitiveword.word">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btnSubmitStudent" ng-click="doSubmit()">提交</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>